.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
  margin-top: 35px;
  margin-bottom: 35px;

}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #bbb;
  font-size: 50px;
  cursor: pointer;
  width: 150px;
  height: 150px;
}