.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  max-width: 300px;
  margin-left: 36%;
  /* margin-right: 23%; */
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #bbb;
  font-size: 50px;
  cursor: pointer;
  width: 150px;
  height: 150px;
}

.div-center {
  /* text-align: center; */
}
